.body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background: linear-gradient(135deg, #eb6c05, #2c7eb8);
  }
  
  .title {
    margin-bottom: 20px;
  }

  .description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
  }
  
  .logo {
    position: absolute; 
    top: 1rem;
    left: 1rem; 
    width: 180px;
    height: 70px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* filter: brightness(0) invert(1); */
  }

  .questionForm {
    position: absolute;
    top: 7rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
  }

  .questionForm input {
    width: 400px; /* Set the desired width */
    padding: 0.5rem; /* Optional: Add padding for better appearance */
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem; /* Space between input and button */
  }

  .chatForm {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .chat {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .app {
    background-color: rgb(125, 154, 255);
  }
  
  .chatbox {
   width: 800px;
   padding: 0.5rem; 
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   border: none;
   margin-right: 5px;   
  }
  
  .stopbutton {
    color: white;
    background-color: rgb(116, 24, 24);
    border-radius: 4px;
    border: none;
    margin-right: 5px;
   }
  
   .submitbutton {
    color: white;
    background-color: rgb(49, 135, 82);
    border-radius: 4px;
    border: none;
   }

   .output {
    position: absolute;
    top: 10rem; /* Adjust as needed */
    right: 9rem;
    width: 800px; /* Set the desired width */
    font-size: 1rem;
    color: black;
    display: block; /* Ensures the output is treated as a block-level element */
    margin-top: 20px; /* Adjust the value to provide enough space above the output */
  }

  .questionList {
    position: absolute;
    top: 12rem;
    left: 3rem;
    height: 70vh;
    overflow-y: auto;
    color: black;
    width: 400px;
  }
  
  .questionItem {
    margin: 0.5rem 0;
    color: black;
  }
  
   .text {
    color: black;
   }
