.main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
}

.top {
    display: flex;
    background: #8991b5;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.bottom {
    display: flex;
    background: linear-gradient(135deg, #969aaf, #D0EDFF);
    overflow: auto;
    height: 100%;
}

.leftSideColumn {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: center;
    flex: 2;
    margin: 2rem 1rem 0rem 1rem;
}

.questionForm {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}

.questionInput {
    width: 64%;
}

.addbutton {
    color: white;
    background-color: rgb(109, 116, 189);
    height: 100%;
    width: 24%;
}

.questionList {
    margin-top: 1rem;
    overflow-y: auto;
    color: black;
    width: 90%;
}

.rightColumn {
    max-height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 3;
    margin: 2rem;
}

.output {
    flex: 3;
    background-color: aliceblue;
    font-size: 1rem;
    color: black;
    display: block; /* Ensures the output is treated as a block-level element */
    overflow-y: scroll;
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem;

    .completion {
        white-space: pre-wrap;
    }
}

.chatForm {
    margin-top: 1rem;
    display: flex;
    flex: 1;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 5px;
    align-content: space-around;
}

.chatbox {
    flex: 7;
    color: rgb(0, 0, 0);
    height: 100%;
    border: none;  
    font-family: var(--font-mono);
}

.buttonGroup {
    flex: 1;
    margin-left: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.submitbutton {
    color: white;
    background-color: rgb(109, 116, 189);
    width: 100%;
}